.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

html {
  background-image: url('https://i.imgur.com/19QCEeX.png');
}

.titleFont {
  font-size: 110%;
  /* border: 1px solid black; */
  text-decoration: underline;
}

.Submit {
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
